.wrapper {
  color: #1e1e1e;
  margin: 0 auto;
  width: 421px;
  margin-top: 160px;
  & div {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 22px;
  }
  & input {
    border: none;
    display: block;
    border-bottom: 1px solid #757575;
    width: 100%;
    height: 36px;
    margin-top: 16px;
    &:focus {
      border-bottom: 1px solid black;
      color: black;
    }
  }
  & button {
    margin-top: 79px;
    border-radius: 36px;
    color: white;
    background: #1e1e1e;
    width: 100%;
    height: 45px;
    cursor: pointer;
  }
}
